
<!DOCTYPE html>
<head>
  <title>欢迎使用蓝莺IM Chatbot（Lanying Chatbot Connector）</title>
</head>

<body align="center">

    <h1>欢迎使用蓝莺IM Chatbot（Lanying Chatbot Connector）</h1>
    <p>---------------------------------------------</p>
    <p>已接收消息数：{{ msgReceivedCnt }}</p>
    <p>Chatbot回复消息数：{{ msgSentCnt }}</p>

<p>配置收发消息，请登录<a href='https://console.lanyingim.com/'>蓝莺IM控制台</a></p>

<p>ChatBot服务选择：{{ service }}</p>
<p>调整AI规则，请登录<a href='https://beta.openai.com/playground/'>控制台</a></p>

<p>祝玩得开心~</p>

<p>---------------------------------------------</p>
<p><a href='https://www.lanyingim.com'>蓝莺IM</a> 专业SDK，私有云也可按月付费</p>

</body>